<div class="crear-cliente-container">
  <h2>Crear Cliente</h2>

  <div class="form-group">
    <label for="id">ID del Cliente:</label>
    <input id="id" [(ngModel)]="cliente.id" name="id" placeholder="Ingresa el ID del cliente">
    <div *ngIf="errores.id" class="mensaje-error">{{ errores.id }}</div>
  </div>

  <div class="form-group">
    <label for="nombre">Nombre del Cliente:</label>
    <input id="nombre" [(ngModel)]="cliente.nombre" name="nombre" placeholder="Ingresa el nombre del cliente">
    <div *ngIf="errores.nombre" class="mensaje-error">{{ errores.nombre }}</div>
  </div>

  <div class="form-group">
    <label for="saldo">Saldo Inicial:</label>
    <input id="saldo" [(ngModel)]="cliente.saldo" name="saldo" readonly placeholder="Saldo inicial se calculará automáticamente">
  </div>

  <button class="btn-submit" (click)="crearCliente()">Crear Cliente</button>

  <!-- Mensajes de éxito y error -->
  <div *ngIf="mensajeExito" class="mensaje-exito">{{ mensajeExito }}</div>
  <div *ngIf="mensajeError" class="mensaje-error">{{ mensajeError }}</div>
</div>
